.heroSection {
    width: 100%;
    height: 650px;
}

.container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.content{
    margin: 20px 0 30px;
}

.buttonWhite {
    background-color: white;
    color: #6B708D;
}

.buttonWhite:hover{
    background-color: white!important;
}

.image {
    position: relative;
}

.heroImages {

    width: 540px;
}

.card1 { 
    position:absolute;
    width: 300px;
}

.card2 { 
    position:absolute;
    width: 300px;
}