.navbar {
    margin-top: 70px;
    height: 122px;
    width: 100%;
}

.container {
    margin-left: 124px;
    margin-right: 124px;
    display: flex;
    align-items: center;
}

.menu {
    width: 295px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.project {
    color: #6B708D;
    transition: 300ms;
}

.project:hover {
    color: #072AC8;
}

.home {
    color: #A2D6F9 !important;
}