.navbarDesktop {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar {
    margin-top: 70px;
    margin-left: 124px;
    margin-right: 124px;
}

.containerNavbar {
    display: flex;
    align-items: center;
}

.menu {
    width: 295px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.project {
    color: #6B708D;
    transition: 300ms;
}

.project:hover {
    color: #072AC8;
}

.local {
    color: #A2D6F9;
    font-size: 17px;
}

/* ---------------- Tablet  */
.navbarTablet {
    display: none;
}