.ourServices {
    margin-top: 200px;
    /* width: 100%; */
    margin-left: 124px;
    margin-right: 124px;
}

.grid-services {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 16px;
    height: 380px;
    grid-template-areas:
        'header header header'
        'menu main main'
        'footer footer footer'
    ;
}

.services1 {
    padding: 30px;
    background-color: white;
}

.userDesign {
    width: 80px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ecf7ff;
    border-radius: 50%;
    padding-bottom: 0px;
    padding-left: 0px;
}

.services2 {
    padding: 30px;
    background-color: white;
}

.services3 {
    padding: 30px;
    background-color: white;
}

h6 {
    color: #072AC8;
    /* margin: 30px 30px 20px; */
}