.ourServices {
    margin-top: 200px;
    margin-left: 124px;
    margin-right: 124px;
}

.grid-services {
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.services1 {
    padding: 30px;
    background-color: white;
}

.userDesign {
    width: 80px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ecf7ff;
    border-radius: 50%;
    padding-bottom: 0px;
    padding-left: 0px;
}

.services2 {
    padding: 30px;
    background-color: white;
}

.services3 {
    padding: 30px;
    background-color: white;
}

h6 {
    color: #072AC8;
}