.projectSection {
    margin-left: 124px;
    margin-right: 124px;
}

.grid-container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 16px;
    height: 100vh;
    grid-template-areas:
        'header header header '
        'menu main main'
        'footer footer footer'
    ;
}

h5 {
    margin: 30px;
}

p {
    margin: 30px;
}

a {
    margin: 30px;
}

.item1 {
    background-color: white;
}

.item2 {
    background-color: white;
}

.item3 {
    background-color: white;
}

.img {
    width: 340px;
    height: 240px;
}