/* For Desktop: */
/* @media only screen and (max-width: 1024px) {} */

/* ------------------------- For tablet:-----------*/
@media only screen and (max-width: 768px) {
    .navbarTablet {
        display: block;

    }

    .navbarDesktop {
        margin: 0px;
        display: none;
    }

    .containerNavbarTablet{
        display: flex;
        justify-content: space-between;
        background-color: red;
    }

    .navbar {
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .classMenuHamburguesa {
        font-weight: normal;
    }

    .btnHamburguesa {
        position: fixed;
        right: 0px;
        top: 0px;
        border: none;
        padding: 18px;
    }

    .is-active .btnHamburguesa {
        color:white;
        background-color: #C8C8C8;
    }
    .classMenuHamburguesa ul {
        display: flex;
        justify-content: space-around;
        padding: 30px 20px;
        width: 100%;
    }

    li {
        list-style: none;
        width: 100%;
        padding: 10px;
    }

    .classMenuHamburguesa ul {
        display: none;
    }

    .is-active ul {
        display: flex;
        flex-direction: column;
        background-color: #C8C8C8;
        padding:0px;
    }

    
/* ------------> hersoSection */

.container{
    flex-direction: column;
}
}








/* ------------------- For mobile phones:---------- */
@media only screen and (max-width: 480px) {
    
/* -----------------> heroSection */
 .card1, .card2 {
    display: none;
 }
  



}


