/* For Desktop: */
/* @media only screen and (max-width: 1024px) {} */

/* ------------------------- For tablet:-----------*/
@media only screen and (max-width: 768px) {

    /* -----------------> Navbar */
    .navbar {
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;

    }

    .navbarDesktop {
        margin: 0px;
        display: none;
    }

    .navbarTablet {
        display: block;
        width: 100vw;
    }

    .containerNavbarTablet {
        padding-left: 25px;
        display: flex;
        justify-content: space-between;
    }

    .classMenuHamburguesa {
        font-weight: normal;
    }

    .btnHamburguesa {
        right: 20px;
        top: 0px;
        border: none;
        padding: 18px;
    }

    .is-active .btnHamburguesa {
        color: white;
        background-color: #C8C8C8;
    }

    .classMenuHamburguesa ul {
        display: flex;
        justify-content: space-around;
        padding: 30px 20px;
        width: 100%;
    }

    li {
        list-style: none;
        width: 100%;
        padding: 20px;
    }

    .classMenuHamburguesa ul {
        display: none;
    }

    .is-active ul {
        display: flex;
        flex-direction: column;
        background-color: #C8C8C8;
        padding: 0px;
    }


    /* ------------> hersoSection */
    .heroSection {
        box-sizing: border-box;
        margin-left: 40px;
        margin-right: 0px;
        height: auto;
        max-width: 90%;
    }

    .container {
        flex-direction: column;
    }

    .content {
        text-align: center;
        max-width: 700px;
    }

    .heroImages {
        width: 90%;
    }

    .card1 {
        width: 40%;
        left: -10%;
        bottom: -10%;
    }

    .card2 {
        width: 40%;
        right: -10%;
        bottom: -10%;
    }


    /* ------------> clientSection */
    .client {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 60px;
    }

    .imgAmazon {
        display: none;
    }

    /* ------------> projectSection */
    .projectSection {
        box-sizing: border-box;
        width: 100vw;
        margin: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
    }

    /* ------------> testimonialSection */
    .testimonialSection {
        margin-right: 0px;
        margin-left: 0px;
    }

    .testimonialTitle {
        font-size: 14px;
        padding-left: 150px;
        padding-right: 150px;
        text-align: center;
    }

    .classTitle {
        line-height: 60px;
    }

    .testimonialText {
        line-height: 40px;
    }

    .emojiTopLeft {
        width: 100px;
        height: 100px;
    }

    .emojiTopRight {
        width: 100px;
        height: 100px;
    }

    .emojiBottomLeft {
        width: 100px;
        height: 100px;
    }

    .emojiBottomRight {
        width: 100px;
        height: 100px;
    }


    /* ------------> ourServices */
    .ourServices {
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }


}

/* ------------------- For mobile phones:---------- */
@media only screen and (max-width: 480px) {

    /* -----------------> heroSection */
    .card1,
    .card2 {
        display: none;
    }

    /* ------------> hersoSection */
    .heroSection {
        box-sizing: border-box;
        margin-left: 40px;
        margin-right: 0px;
        height: auto;
        max-width: 90%;
    }

    /* ------------> clientSection */
    .client {
        box-sizing: border-box;
        align-items: center;
        margin-right: 2px;
    }

    /* ------------> projectSection */
    .projectSection {
        box-sizing: border-box;
    }

    .grid-container {
        grid-template-columns: 1fr;
        grid-column-gap: 30px;
    }

    /* ------------> testimonialSection */

    
    .emojiTopLeft,
    .emojiTopRight,
    .emojiBottomLeft,
    .emojiBottomRight {
        display: none;
    }

    /* ------------> ourServices */
    .grid-services {
        grid-template-columns: 1fr
    }

    /* ------------> ctaSection */
    .ctaSection {
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
    }

    .ctaSection h3 {
        font-size: 30px;
        margin-left: 30px;
    }

    .textfielEmail {
        width: 100%;
    }

    .iconEmail {
        left: 22%;
        top: 18%;
    }

    .textEmail {
        width: 150px;
        align-items: center;
        margin-left: 50px;
    }

    .suscribe {
        align-items: center;
        margin-left: 50px;
    }

    /* ------------> footer */
    .footerSection {
        margin-left: 30px;
    }

    .containerFooter {
        flex-direction: column;
    }

    .footerContent {
        align-content: center;
    }

    .adressFooter {
        text-align: center;
    }

    }